.articles
  .comments
    %h3 
      Reply to
      = @reply_to.name
    = form_for @reply, :url => create_reply_comment_path(@reply_to) do |f|
      %div
        = f.label :name
        = f.text_field :name
      %div
        = f.label :email
        = f.text_field :email
      %div
        = f.label :website
        = f.text_field :website
      %div
        = f.label :comment
        = f.text_area :comment, :rows => 10
      %div
        = f.submit "Submit Reply", :class => 'btn'

.sidebar
  = render :partial => 'articles/sidebar'