- url = @article.id.nil? ? admin_articles_path : admin_article_path(@article)
= form_for @article, :url => url do |f|
  = flash[:error]
  %div
    = f.label "title"
    = f.text_field :title
  %div
    = f.label "Content"
    = f.text_area :content
  %div
    = f.select :state, ["private", "public"]
    - if @article.id?
      = link_to "Delete", admin_article_path(@article), :method => :delete, :class => 'btn btn-danger', :confirm => "Really Delete?"
    = f.submit "Save", :class => 'btn btn-primary'