.article
  .date
    .day= article.published_at.strftime("%d")
    .month= article.published_at.strftime("%b")
    .year= article.published_at.strftime("%Y")

  = link_to "#{article.comment_count} Comments", article_path(article, :anchor => 'comments'), :class => 'comment_count'

  %h1= link_to article.title, article_path(article)

  .article-content= article.content.html_safe