.article
  .date
    .day= article.created_at.strftime("%d")
    = article.created_at.strftime("%b")
    = "'#{article.created_at.strftime("%y")}"

  %h1= link_to article.title, article_path(article)

  %pre= article.content.html_safe