.article
  .date
    .day= article.published_at.strftime("%d")
    = article.published_at.strftime("%b")
    = "'#{article.published_at.strftime("%y")}"

  = link_to "#{article.comment_count} Comments", article_path(article, :anchor => 'comments'), :class => 'comment_count'

  %h1= link_to article.title, article_path(article)

  .article-content= article.content.html_safe