- @doc_title = @article.title
.articles
  = render :partial => 'article', :locals => {article: @article}
  = render :partial => 'share'
  .comments#comments
    = render :partial => 'comments', :locals => {article: @article, comments: @comments}
    = render :partial => 'new_comment', :locals => {article: @article, comment: @comment}

.sidebar
  = render :partial => 'sidebar'