.nav
  .width
    = nav_link "Read Me"   , root_path                                , :class => 'read-me'    , :controller => 'articles'
    = nav_link "Install Me", "https://rubygems.org/profiles/jisaacks" , :class => 'install-me'
    = nav_link "Follow Me" , "https://twitter.com/jisaacks"           , :class => 'follow-me'
    = nav_link "Fork Me"   , "https://github.com/jisaacks"            , :class => 'fork-me'
    = nav_link "Contact Me", "mailto:jd@jisaacks.com"                 , :class => 'contact-me'
    = nav_link "Hire Me"   , resume_path                              , :class => 'hire-me'    , :controller => 'resumes'